body {
  background-color: #eeeeee;
}

#account-icon {
  background-color: aquamarine;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

main {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
