#back-home,
.post,
#form-comment,
#comment-list {
  width: 100%;
  margin: 15px 0;
}

#form-comment .form-title #username {
  font-weight: bold;
  color: green;
}

#form-comment input {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}
